@charset "UTF-8";

$color_primary: #fc6763;
$color_primary2: #d82b3a;
$color_secondary: #a180cf;
$color_secondary2: #553e99;

$color_gray: #222;
$color_gray2: #777;
$color_gray3: #ccc;
$color_gray4: #f5f5f5;

/* 기본 */
* {
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

html,
body {
  height: 100dvh;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

button,
select {
  cursor: pointer;

  &:disabled {
    cursor: auto;
  }
}

input {
  &[type=radio],
  &[type=checkbox],
  &[type=color],
  &[type=file] {
    cursor: pointer;

    &:disabled {
      cursor: auto;
    }
  }

  &[type=file] {
    &::-webkit-file-upload-button {
      cursor: pointer;
    }

    &:disabled {
      &::-webkit-file-upload-button {
        cursor: auto;
      }
    }
  }

  &[type=time],
  &[type=date] {
    &::-webkit-calendar-picker-indicator {
      cursor: pointer;
    }

    &:disabled {
      &::-webkit-calendar-picker-indicator {
        cursor: auto;
      }
    }
  }
}

::selection {
  background-color: $color_primary;
  color: #fff;
}


/* 폰트 */
:root {
  font-size: 10px;
}

html,
body,
button,
input,
textarea,
select,
optgroup {
  color: $color_gray;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-wrap: anywhere;
  word-break: break-all;
}

/* 엘리먼트 > 리셋 */
.el_reset {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: inherit;

  &:hover,
  &:active {
    color: inherit;
    text-decoration: inherit;
  }
}

/* 엘리먼트 > 폼 */
.el_form {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
  position: relative;
  resize: none;
  width: 100%;

  &:disabled {
    color: inherit;
    opacity: inherit;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color_gray3;
  }

  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &::-webkit-color-swatch-wrapper {
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
  }

  &::-webkit-file-upload-button {
    border: none;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &::-webkit-calendar-picker-indicator {
    border: none;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

/* 레이아웃 > 기본 */
.ty_default {
  display: flex;
  flex-direction: column;

  .ly_wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .ly_page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    &_inner {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;

      &2,
      &3,
      &4 {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
      }
    }

    .ly_header,
    .ly_body,
    .ly_footer {
      position: relative;
    }

    .ly_header {
      flex: 0 0 auto;
    }

    .ly_body {
      flex: 1 1 auto;
    }

    .ly_footer {
      flex: 0 0 auto;
    }
  }
}

/* 레이아웃 > 중앙 */
.ty_center {
  display: flex;
  flex-direction: column;

  .ly_wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .ly_page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    &_inner {
      display: table;
      height: 100%;
      width: 100%;

      &2 {
        display: table-cell;
        font-size: 0;
        text-align: center;
        vertical-align: middle;
      }

      &3 {
        display: inline-block;
        font-size: 1.6rem;
        text-align: left;
      }

      &4 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
      }
    }

    .ly_header,
    .ly_body,
    .ly_footer {
      position: relative;
    }

    .ly_header {
      flex: 0 0 auto;
    }

    .ly_body {
      flex: 1 1 auto;
    }

    .ly_footer {
      flex: 0 0 auto;
    }
  }
}

/* 레이어 */
.ly_layer {
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1000;

  &_inner {
    display: table;
    height: 100%;
    width: 100%;

    &2 {
      display: table-cell;
      font-size: 0;
      text-align: center;
      vertical-align: middle;
    }

    &3 {
      display: inline-block;
      font-size: 1.6rem;
      text-align: left;
    }

    &4 {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }

  .ly_header,
  .ly_body,
  .ly_footer {
    position: relative;
  }

  .ly_header {
    flex: 0 0 auto;
  }

  .ly_body {
    flex: 1 1 auto;
  }

  .ly_footer {
    flex: 0 0 auto;
  }

  &.is_ac {
    visibility: visible;
  }
}

body {
  &.is_acLayer {
    overflow: hidden;
  }
}

/* 공통 */
.ty_default,
.ty_center {
  .ly_page,
  .ly_layer {
    &_inner {
      margin: 0 auto;
      width: 190rem;

      @media (max-width: 768px) {
        width: 37.5rem;
      }
    }
  }
}