@charset "UTF-8";
/* 기본 */
* {
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  container-type: inline-size;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  cursor: pointer;
}

button,
select {
  cursor: pointer;
}
button:disabled,
select:disabled {
  cursor: auto;
}

input[type=radio], input[type=checkbox], input[type=color], input[type=file] {
  cursor: pointer;
}
input[type=radio]:disabled, input[type=checkbox]:disabled, input[type=color]:disabled, input[type=file]:disabled {
  cursor: auto;
}
input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}
input[type=file]:disabled::-webkit-file-upload-button {
  cursor: auto;
}
input[type=time]::-webkit-calendar-picker-indicator, input[type=date]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
input[type=time]:disabled::-webkit-calendar-picker-indicator, input[type=date]:disabled::-webkit-calendar-picker-indicator {
  cursor: auto;
}

::selection {
  background-color: #fc6763;
  color: #fff;
}

.dv_pc::-webkit-scrollbar {
  height: 2rem;
  width: 2rem;
}
.dv_pc::-webkit-scrollbar-track {
  background-color: transparent;
}
.dv_pc::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #a180cf;
  border: 0.8rem solid transparent;
}

.dv_pc body::-webkit-scrollbar {
  height: 2rem;
  width: 2rem;
}
.dv_pc body::-webkit-scrollbar-track {
  background-color: transparent;
}
.dv_pc body::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #a180cf;
  border: 0.8rem solid transparent;
}

/* 폰트 */
:root {
  font-size: 10px;
  height: 100vh;
  padding: 0 !important;
}

html,
body,
button,
input,
textarea,
select,
optgroup {
  color: #222;
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-wrap: anywhere;
  word-break: break-all;
}

/* 엘리먼트 > 리셋 */
.el_reset {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}
.el_reset:hover, .el_reset:active {
  color: inherit;
  text-decoration: inherit;
}

/* 엘리먼트 > 폼 */
.el_form {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
  position: relative;
  resize: none;
  width: 100%;
}
.el_form:disabled {
  color: inherit;
  opacity: inherit;
}
.el_form:focus {
  outline: none;
}
.el_form::placeholder {
  color: #ccc;
}
.el_form::-webkit-inner-spin-button {
  appearance: none;
}
.el_form::-webkit-outer-spin-button {
  appearance: none;
}
.el_form::-webkit-color-swatch-wrapper {
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}
.el_form::-webkit-color-swatch {
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}
.el_form::-webkit-file-upload-button {
  border: none;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.el_form::-webkit-calendar-picker-indicator {
  border: none;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* 레이아웃 > 기본 */
.ty_default {
  display: flex;
  flex-direction: column;
}
.ty_default .ly_wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.ty_default .ly_page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.ty_default .ly_page_inner {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.ty_default .ly_page_inner2, .ty_default .ly_page_inner3, .ty_default .ly_page_inner4 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.ty_default .ly_page .ly_header,
.ty_default .ly_page .ly_body,
.ty_default .ly_page .ly_footer {
  position: relative;
}
.ty_default .ly_page .ly_header {
  flex: 0 0 auto;
}
.ty_default .ly_page .ly_body {
  flex: 1 1 auto;
}
.ty_default .ly_page .ly_footer {
  flex: 0 0 auto;
}

/* 레이아웃 > 중앙 */
.ty_center {
  display: flex;
  flex-direction: column;
}
.ty_center .ly_wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.ty_center .ly_page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.ty_center .ly_page_inner {
  display: table;
  height: 100%;
  width: 100%;
}
.ty_center .ly_page_inner2 {
  display: table-cell;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
}
.ty_center .ly_page_inner3 {
  display: inline-block;
  font-size: 1.6rem;
  text-align: left;
}
.ty_center .ly_page_inner4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.ty_center .ly_page .ly_header,
.ty_center .ly_page .ly_body,
.ty_center .ly_page .ly_footer {
  position: relative;
}
.ty_center .ly_page .ly_header {
  flex: 0 0 auto;
}
.ty_center .ly_page .ly_body {
  flex: 1 1 auto;
}
.ty_center .ly_page .ly_footer {
  flex: 0 0 auto;
}

/* 레이어 */
.ly_layer {
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1000;
}
.ly_layer_inner {
  display: table;
  height: 100%;
  width: 100%;
}
.ly_layer_inner2 {
  display: table-cell;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
}
.ly_layer_inner3 {
  display: inline-block;
  font-size: 1.6rem;
  text-align: left;
}
.ly_layer_inner4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.ly_layer .ly_header,
.ly_layer .ly_body,
.ly_layer .ly_footer {
  position: relative;
}
.ly_layer .ly_header {
  flex: 0 0 auto;
}
.ly_layer .ly_body {
  flex: 1 1 auto;
}
.ly_layer .ly_footer {
  flex: 0 0 auto;
}
.ly_layer.is_ac {
  visibility: visible;
}

body.is_acLayer {
  overflow: hidden;
}

/* 공통 */
.ty_default .ly_page_inner,
.ty_default .ly_layer_inner,
.ty_center .ly_page_inner,
.ty_center .ly_layer_inner {
  margin: 0 auto;
  width: 190rem;
}
@media (max-width: 768px) {
  .ty_default .ly_page_inner,
  .ty_default .ly_layer_inner,
  .ty_center .ly_page_inner,
  .ty_center .ly_layer_inner {
    width: 37.5rem;
  }
}

/*# sourceMappingURL=common.css.map */
